{% load i18n %}
<h1>{% translate "Manage Users" %}</h1>
<p><a href="{% url 'admin_panel' %}">{% translate "Open Admin Panel" %}</a></p>
<table>
    <thead><tr><th>{% translate "Username" %}</th><th>{% translate "Group" %}</th><th>{% translate "Role" %}</th></tr></thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{% for group in user.groups.all %}{{ group.name }}{% if not forloop.last %}, {% endif %}{% empty %}{% translate "None" %}{% endfor %}</td>
            <td>{{ user.workflow_profile.get_role_display }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="3">{% translate "No users found." %}</td></tr>
    {% endfor %}
    </tbody>
</table>
